* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    list-style: none;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(247, 247, 247);
    padding: 20px 20px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(224, 224, 224);
}

.header h1 {
    color: rgb(119, 46, 255);
}

.menu {
    width: 450px;
    display: flex;
    justify-content: space-between;
}

.menu a {
    text-decoration: none;
    color: rgb(22, 115, 190);
    font-size: 18px;
    font-weight: bold;
}

@media screen and (min-width: 992px){

}