* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    list-style: none;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(247, 247, 247);
    padding: 20px 20px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(224, 224, 224);
}

.header h1 {
    color: rgb(119, 46, 255);
}

.menu {
    width: 450px;
    display: flex;
    justify-content: space-between;
}

.menu a {
    text-decoration: none;
    color: rgb(22, 115, 190);
    font-size: 18px;
    font-weight: bold;
}

.main {
    width: 100%;
    background-color: rgb(230, 240, 255);
}

.main div {
    width: 100%;
    margin: 0% auto;
}

.limita-area {
    max-width: 1024px;
}

.limita-area h2 {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    padding-top: 100px;
    font-size: 25px;
}

.limita-area p {
    line-height: 24px;
    text-align: center;
}

@media screen and (min-width: 992px){

}