* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    list-style: none;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(48, 48, 48);
    padding: 20px 20px;
}

.menu {
    width: 450px;
    display: flex;
    justify-content: space-between;
}

.menu a {
    text-decoration: none;
    color: rgb(22, 115, 190);
    font-size: 20px;
    font-weight: bold;
}

.menu a:hover {
    color: rgb(62, 154, 230);
}

.main {
    width: 100%;
    background-color: rgb(240, 240, 240);
}

.main div {
    width: 100%;
    margin: 0% auto;
    
}

.limita-area {
    max-width: 1024px;
}

.limita-area h2 {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    padding-top: 100px;
    font-size: 25px;
    color: rgb(22, 115, 190);
}

.limita-area p {
    line-height: 24px;
    text-align: center;
    max-width: 750px;
    margin: 0 auto; 
    font-size: 20px;
}

.limita-area li {
    margin-top: 20px;
    padding-bottom: 60px;
}

.center-integ {
    color: rgb(255, 255, 255);
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: linear-gradient(to right, #32A6FF 10%, #0857F0 100%);
}

.center-integ a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
}

.center-integ p {
    text-align: center;
    max-width: 750px;
    margin: 0 auto 16px auto; /* centraliza e afasta do topo da imagem */
    font-size: 20px;
    line-height: 24px;
}

.img-integ {
    display: block;
    margin: 16px auto 0 auto;
    border-radius: 8px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
}

.limita-area a {
    text-decoration: none;
    color: rgb(22, 115, 190);
    font-size: 20px;
    font-weight: bold;
}

.footer {
    background-color: rgb(48, 48, 48);
    color: rgb(255, 255, 255);
    padding: 8px 16px; /* reduced padding */
    font-size: 20px;
    box-shadow: 2px 2px 60px rgb(70, 70, 70);
}

.footer h2 {
    color: rgb(148, 148, 148);
    margin-left: 20px;   /* moves further right */
    margin-top: 10px;    /* moves lower, but less than before */
    position: relative;
}

.footer .f-ul {
    width: 100%;
    display: flex;
    justify-content: center;
}

.f-ul li {
    text-align: center;
    margin: 25px;
}

.f-ul a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.f-ul a:hover {
    cursor: pointer;
    color: rgb(62, 154, 230);
}

.footer .copy {
    text-align: center;
    margin-top: 8px;
    margin-bottom: 0;
    color: rgb(184, 184, 184);
    font-size: 16px;
}

body, html {
    height: 100%;
}

.main {
    min-height: calc(100vh - 200px); /* 200px = approx. footer height */
    padding-bottom: 0;
}

@media screen and (min-width: 992px){

}