@media (max-width: 600px) {

  .menu {
    flex-direction: column;
    align-items: center;
  }

  .hero-section {
    margin-bottom: 0px;
  }

  .hero-section__content img {
    display: none;
    }

  .hero-section__content h1 {
    text-align: center;
  }

  .hero-section__content p {
    width: 100%;
    text-align: center;
  }

  .hero-section__content a {
    display: block;
    width: 230px;
    margin: 0 auto;
    text-align: center;

  }

  .split-section {
    flex-direction: column;
    padding: 3rem 1.5rem;
    gap: 0px;
  }

  .split-section__content {
    flex: 0;
    margin-bottom: 0px;
  }

  .split-section__content img {
    width: 100%;
    margin: 0 auto 1rem;
    align-items: center;
    border: 0;
  }

  .split-section-reverse {
    flex-flow: column-reverse;
  }

  .split-section__content p {
    width: 100%;
    margin-bottom: 0
  }

  .split-section__content a {
    display: block;
    text-align: center;
    margin-top: 4rem
  }

  .integrantes-content {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .integrante-img img {
    width: 200px;
  }

  .integrante-link {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 1rem;
  }

  .footer-menu img {
    margin: 0 auto;
  }

  .footer-menu {
    width: 95%;
    flex-direction: column;
    text-align: center;
  }

  .opcoes-menu {
    justify-content: center;
  }

  .intro-page {
    padding: 80px 20px;
    margin: 0
  }  

  .intro-page h1 {
    line-height: 4rem;
    margin-bottom: 8px;
  }

  .info-section {
    padding: 60px 20px;
  }

  .marketing {
    padding: inherit 1.5rem;
    margin: 1rem 1rem 0;
  }

  .mkt-lista li {
    flex: 1 0;
  }

  .introducao-central-secao {
    margin: 1rem;
    padding: 2rem 1rem;
  }

  .menu-nav ul {
    justify-content: center;
  }

  .footer-nav ul {
    justify-content: center;
  }
}

@media (min-width: 600px) and (max-width: 767px) {
  .menu {
    flex-direction: column;
  }
  
  .hero-section img {
    display: none;
  }

  .split-section {
    gap: 0px;
    flex-direction: column;
  }

  .container {
    padding: 2rem 1.5rem;
  }

  .hero-section {
    padding: 3rem 1.5rem;
    margin: 0;
  }

  .hero-section__content {
    margin: 0;
  }

  .hero-section__content a {
    display: block;
    margin-top: 4rem;
    text-align: center;
  }
  .hero-section__content p {
    margin: 0
  }

  .marketing {
    padding: 2rem 1.5rem;
  }

  .split-section {
    flex-direction: column;
    padding: 3rem 1.5rem;
    gap: 0px;
  }

  .split-section__content {
    flex: 0;
    margin-bottom: 0px;
  }

  .split-section__content img {
    width: 100%;
    margin: 0 auto 1rem;
    align-items: center;
    border: 0;
  }

  .split-section-reverse {
    flex-flow: column-reverse;
  }

  .split-section__content p {
    width: 100%;
    margin-bottom: 0
  }

  .split-section__content a {
    display: block;
    text-align: center;
    margin-top: 4rem
  }

  .integrantes-content {
    flex-direction: column;
    align-items: center;
  }

  .integrante-img img {
    width: 220px;
  }

  .opcoes-menu {
    justify-content: center;
  }

  .opcoes-menu img{
    max-height: 150px;
    width: 100%;
  }

  .split-section__content img {
    border: 1px solid rgb(235, 235, 235);
  }

  .footer-menu {
    padding: 1rem 1.5rem;
  }

  

}

@media (min-width: 768px) and (max-width: 991px) {
  .menu-nav ul {
    justify-content: center;
  }

  .menu {
    padding: 1rem 1rem;
  }
  
  .container {
    padding: 1rem 1.5rem;
  }

  .marketing {
    padding: 3rem 1.5rem;
  }

  .hero-section img {
    display: none;
  }

  .hero-section__content {
    margin: 0
  } 

  .split-section {
    flex-wrap: wrap;
  }

  .split-section__content{
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .split-section__content img{
    width: 70%;
  }

  .split-section-reverse {
    flex-flow: column-reverse;
  }

  .integrantes-content {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .integrante-img img {
    width: 250px;
  }

  .info-section__content {
    text-align: center;
  }
}

@media (min-width: 992px) and (max-width: 1299px) {
  .container {
    max-width: 960px;
  }

  .integrante-img img {
    width: 260px;
  }
}

@media (min-width: 1300px) {
  .container {
    max-width: 1200px;
  }

  .hero-section__content h1 {
    font-size: 4.5rem;
  }

  .integrante-img img {
    width: 300px;
  }
}
