@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    list-style: none;
}



.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(48, 48, 48);
    padding: 20px 20px;
}

.menu {
    width: 450px;
    display: flex;
    justify-content: space-between;
}

.menu a {
    text-decoration: none;
    color: rgb(22, 115, 190);
    font-size: 20px;
    font-weight: bold;
}

.menu a:hover {
    color: rgb(62, 154, 230);
}

.limita-area {
    background-image: linear-gradient(to right, #32A6FF 10%, #0857F0 100%);
}

.limita-area-meio{
    width: 650px;
}

.limita-area-meio h2 {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    padding-top: 100px;
    font-size: 25px;
    color: rgb(22, 115, 190);
    font-family: 'Poppins', sans-serif;
}

.limita-area-meio p{
    line-height: 24px;
    text-align: center;
    max-width: 750px;
    margin: 0 auto; 
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.limita-area h2 {
    margin-left: 200px;
    text-align: left;
    padding: 25px 0;
    padding-top: 70px;
    font-size: 40px;
    color: rgb(235, 236, 236);
    font-family: 'Poppins';
    text-shadow: 2px 2px 30px #fff;
    margin-top: 190px;
}

.limita-area p {
    font-family: 'Poppins';
    font-weight: 400;
    color: #ffffff;
    line-height: 1.5;
    text-align: left;
    max-width: 500px;  
    font-size: 20px;
    padding-bottom: 70px;
    margin-left: 120px;
    
}   

.limita-area .img-missao{
    position: absolute;
    right: 5%;
    top: 80%;
    transform: translateX(5%);
    transform: translateY(80%);
    border-radius: 20px;
    margin-bottom: 20px;
    
    
}

.main-div-p-ult {
    padding-bottom: 100px;
}

.footer {
    background-color: rgb(48, 48, 48);
    color: rgb(255, 255, 255);
    padding: 8px 16px; /* reduced padding */
    font-size: 20px;
    box-shadow: 2px 2px 60px rgb(70, 70, 70);
}

.footer h2 {
    color: rgb(148, 148, 148);
    margin-left: 20px;   /* moves further right */
    margin-top: 10px;    /* moves lower, but less than before */
    position: relative;
}

.footer .f-ul {
    width: 100%;
    display: flex;
    justify-content: center;
}

.f-ul li {
    text-align: center;
    margin: 25px;
}

.f-ul a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.f-ul a:hover {
    cursor: pointer;
    color: rgb(62, 154, 230);
}

.footer .copy {
    text-align: center;
    margin-top: 8px;      /* reduced margin */
    margin-bottom: 0;      /* remove negative margin */
    color: rgb(184, 184, 184);
    font-size: 16px;
}

body, html {
    height: 100%;
    background-color: rgb(240, 240, 240);
}

.main {
    min-height: calc(100vh - 200px); /* 200px = approx. footer height */
    padding-bottom: 0;
}

@media screen and (min-width: 992px) {

}
