* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

html {
    font-size: 16px;
}

img { 
    max-width: 100%;    
}

body {
    font-family: Open Sans, Helvetica, sans-serif;
}

p {
    font-size: 0.625rem;
    font-size: .75rem;
}

body, html {
    height: 100%;
}

@media (max-width: 390px) {
    .container {
        width: 90%;
    }
}

@media (max-width: 810px) {
    .container {
        width: 80%;
    }
}

.menu-bg {
    background-color: #004BFE;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px 0px;
}

.menu-logo img {
    width: 190px;
}

.menu-logo a{
    display: flex;
    justify-items: center;
}

.menu-nav ul{
    display: flex;
    flex-wrap: wrap;
}

.menu-nav a {
    display: block;
    padding: 10px;
    font-size: 1.25rem;
}

.menu a {
    color: #FFFFFF; 
    font-weight: bold;
    padding: 10px 15px;
    text-decoration: none;
}

.menu a:visited {
    color: #FFFFFF;
}

.menu a:hover {
    color:#05205f;
}

.footer-bg {
    background-color: #2E2E2E
}

.footer-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px 0px;
    height: 150px;
}

.footer-nav ul {
    display: flex;
    flex-wrap: wrap;
}

.footer-nav a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    font-size: 1.25rem;
    font-weight: bold;
}

.footer-nav a:hover {
    color: #5363f8
}

.footer-menu img {
    width: 200px;
}

.footer-logo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    color: white;
    padding: 15px;    
}

.main {
    width: 100%;
    background-color: rgb(240, 240, 240);
    padding-bottom: 300px;
    font-size: 20px;
}

.main div {
    width: 100%;
    margin: 0% auto;
    padding-bottom: 20px;
}

.limita-area {
    max-width: 1024px;
}

.limita-area h2 {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    padding-top: 100px;
    font-size: 20px;
}

.limita-area p {
    display: flex;
    line-height: 24px;
    text-align: center;
    justify-content: center;
    width: 800px;
    align-items: center;
    margin-left: 100px;
}

.div-icones {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin-top: 16px;
}

.icone-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.icone-item span {
    font-size: 22px;
    color: rgb(26, 85, 133);
    margin-top: 4px;
}

.fa-solid.fa-palette,
.fa-solid.fa-lightbulb,
.fa-solid.fa-shield-halved,
.fa-solid.fa-forward {
    font-size: 50px;
    color: rgb(22, 115, 190);
    margin: 50px;
}

.seg-conteudo {
    color: rgb(22, 115, 190);
    font-size: 24px;
}

.main {
    min-height: calc(100vh - 200px); /* 200px = approx. footer height */
    padding-bottom: 0;
}

.main .limita-area:last-child {
    padding-bottom: 80px; /* ajuste o valor conforme desejar */
}

