* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    padding: 20px 80px;
}

.header li { 
    display: inline;
}

.header a {
    text-decoration: none;
    margin-right: 40px;
}

.header a:visited {
    color: inherit;
}