* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
}


body, html {
    height: 100%;
}

@media screen and (min-width: 992px) {

}

main {
    width: 100%;
    background-color: #ffffff;
    padding-bottom: 300px;
    font-size: 20px;
    color: #1b1b1b
}

main div {
    width: 100%;
    margin: 0% auto;
}

header {
    background-color: #004BFE;
    border-bottom: 2px solid rgb(224, 224, 224);
    color: white;
    align-items: center;
    text-align: right; /* menu na direita */
}

header a {
    display: inline-block;
    color: rgb(255, 255, 255);
    margin: 0 auto;
    float: left;
}

footer {
    background-color: rgb(48, 48, 48);
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 20px;
    box-shadow: 2px 2px 60px rgb(70, 70, 70);
}

footer h2 {
    color: rgb(148, 148, 148);
    margin-left: 20px;   /* moves further right */
    margin-top: 10px;    /* moves lower, but less than before */
    position: relative;
}

footer .f-ul {
    width: 100%;
    display: flex;
    justify-content: center;
}

article {
    width: 100%;
    height: 650px;
    padding-bottom: 60px;
}

.main-article-1 section {
    float: left;
    width: 50%;
    height: 100%;
}

.main-article-2 {
    background-color: #F8F9FD;
}

.main-section-left {
    padding: 120px 60px 60px 0px;
    width: 50%;
    height: 100%;
}

.main-section-left h2 {
    font-size: 64px;
    margin-bottom: 16px
}

.main-section-left p {
    width: 80%;
    margin-bottom: 50px
}

.btn {
  display: inline-block;
  background-color: #5800FF;
  color: white;
  padding: 12px 40px;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  font-size: 16px
}

.btn:hover {
  background-color: #0036b3;
}

.main-section-right {
    position: relative;
}

.main-section-right img{
    display: block;
    margin: 0 auto;
    position: absolute;
    width: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container {
    padding: 20px 400px;
}

.menu {
    display: inline-block;
}

.menu a {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-left: 25px;
}

.menu a:hover {
    color: rgb(62, 154, 230);
}

.menu li {
    display: inline
}

.limita-area {
    max-width: 1024px;
}

.limita-area h2 {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    padding-top: 200px;
    font-size: 20px;
}

.limita-area p {
    line-height: 24px;
    text-align: center;
}

.f-ul li {
    text-align: center;
    margin: 25px;
}

.f-ul li:hover {
    cursor: pointer;
    color: rgb(119, 46, 255);
}

.footer .copy {
    text-align: center;
    margin-top: 8px;      /* reduced margin */
    margin-bottom: 0;      /* remove negative margin */
    color: rgb(184, 184, 184);
    font-size: 16px;
}