* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

html {
    font-size: 1rem;
}

body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    color: #3B3B3B
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

body, html {
    height: 100%;
}

h1, h2, h3, h4 {
  font-family: "Teko", sans-serif;
  letter-spacing: 0.5px;
}

body, p, span, li {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6; 
}

h3 {
    font-size: 3rem;
    line-height: 60px;
    margin-bottom: 12px;
}

.menu-bg {
    background-color: #004BFE;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px 0px;
}

.menu-logo img {
    width: 190px;
}

.menu-logo a{
    display: flex;
    justify-items: center;
}

.menu-nav ul{
    display: flex;
    flex-wrap: wrap;
}

.menu-nav a {
    display: block;
    padding: 10px;
    font-size: 1.25rem;
}

.menu a {
    color: #FFFFFF; 
    font-weight: bold;
    padding: 10px 15px;
    text-decoration: none;
}

.menu a:visited {
    color: #FFFFFF;
}

.menu a:hover {
    color:#05205f;
}

.main-bg {
    background-color: white;
}

.secondary-bg {
    background-color: #F6F6F6
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.hero-section {
    margin: 30px auto 60px;
    padding: 15px 0px;
}

.hero-section__content {
    flex: 1 1 300px;
    margin: 15px
}

.hero-section__content h1 {
    font-size: 4.80rem;
    font-weight: 600;
    line-height: 80px;
    margin-bottom: 12px;
}

.hero-section__content p {
    width: 480px;
    margin-bottom: 48px
}

.split-section {
    padding: 120px 0px;
    gap: 40px
}

.split-section__content {
    flex: 1 1 300px;
    margin: 15px
}

.split-section__content p {
    width: 490px;
    margin-bottom:64px
}

.split-section__content img {
    border: 1px solid rgb(235, 235, 235);
    border-radius: 8px
}

.split-section__content a {
    border: 2px solid #627DFF;
    border-radius: 4px;
    padding: 10px 50px;
    font-weight: bold;
    color: #627DFF
}

.split-section__content a:hover {
    background-color: #627DFF;
    color: white
}

.info-section {
    padding: 120px 0px;
    gap: 40px;
}

.info-section__content {
    margin: 0px 15px 64px;
}

.info-section__paragrafo {    
    margin-bottom:64px
}

.opcoes-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.opcoes-menu li {
    padding: 20px;
    width: 300px;

    border-radius: 4px
}

.opcoes-menu p {
    font-weight: bold;
    color: #3B3B3B
}

.opcoes-menu a {
    border: 1px solid rgb(235, 235, 235);
}

.opcoes-menu a:hover {
    color: white;
    background-color: rgb(169, 164, 230);
}

.opcoes-menu img {
    margin: 0 auto;
    height: 150px;
    margin-bottom: 20px;
}

.btn-intro {
    color: white;
    font-weight: bold;
    background: linear-gradient(90deg,rgba(112, 20, 142, 1) 0%, rgba(33, 75, 181, 1) 100%);
    padding: 10px 50px;
    border-radius: 4px;
    transition: all 0.6s ease; /* <- AQUI fica o transition */
    background-size: 200% 100%; /* permite “mover” o gradiente */
    background-position: 0% 0%
}

.btn-intro:hover {
    background-position: 100% 0%; /* move o gradiente */
    transform: scale(1.05);
}

.marketing {
    align-items: center;
    max-width: 1200px;
    margin: 0px auto;
    padding: 60px 15px;
}

.mkt-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mkt-lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

.mkt-lista li {
    width: 200px;
}

.mkt-divisor-lista {
  display: block;
  width: 24px;
  height: 2px;
  background: linear-gradient(90deg, rgba(112,20,142,1) 0%, rgba(33,75,181,1) 100%);
  margin: 8px auto 16px;
}

.mkt-bottom img {
    margin: 0 auto 20px
}

.mkt-bottom p {
    text-align: center;
    font-weight: bold;
    color: #474645;
    margin: 0 auto 30px;
    letter-spacing: 4px;
    width: 80%;
}

.marketing h2 {
    max-width: 800px;
    line-height: 1;
    font-weight: 500;
    font-size: 3.25rem;
    text-align: center;
    margin-bottom: 24px;
}

.mkt-top p {
    max-width: 800px;
    text-align: center;
    margin-bottom: 64px;
}

.mkt-top img {
    margin: 0 auto 45px;
}

.intro-bg {
    background: linear-gradient(180deg,rgba(51, 205, 232, 1) 0%, rgba(24, 76, 154, 1) 100%);
}

.intro-page {
    display: block;
    margin: 0 auto;
    text-align: center;
    align-content: center;
    color: white;
    padding: 80px 0px;
    margin-bottom: 32px;
}

.intro-bg__sobre {
    background: linear-gradient(90deg,rgba(196, 151, 253, 1) 0%, rgba(29, 60, 216, 1) 100%);
}

.intro-page h1 {
    font-size: 4rem;
}

.integrantes-container {
    padding: 15px 15px;
}

.integrantes-content {
    display: flex;
    margin: 15px 0;
    width: 100%;
    border: 1px solid rgb(235, 235, 235);
    padding: 1.5rem;
    border-radius: 4px;
    gap: 20px;  
}

.integrante-img {
    flex-grow: 0;
    max-width: 250px;
}

.integrante-img img {
    object-fit: fill;
    border-radius: 4px;
}

.integrante-info {
    width: 100%;
}

.integrante-info h2 {
    font-weight: 800;
}

.integrante-info span {
    display: block;
    font-weight: 500;
    color: #5a5856;
    margin-bottom: .5rem;
}

.integrante-info p {
    max-width: 600px;
}

.integrante-link a {
    display: block;
    margin-bottom: 1rem;
}

.footer-bg {
    background-color: #2E2E2E
}

.footer-menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px 0px;
    color: white;
}

.footer-nav ul {
    display: flex;
    flex-wrap: wrap;
}

.footer-nav a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    font-size: 1.25rem;
    font-weight: bold;
}

.footer-nav a:hover {
    color: #5363f8
}

.footer-menu img {
    width: 200px;
}

.footer-logo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    color: white;
    padding: 15px;    
}