* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

html {
    font-size: 16px;
}

img { 
    max-width: 100%;    
}

body {
    font-family: Open Sans, Helvetica, sans-serif;
}

p {
    font-size: 0.625rem;
    font-size: .75rem;
}

body, html {
    height: 100%;
}

@media (max-width: 390px) {
    .container {
        width: 90%;
    }
}

@media (max-width: 810px) {
    .container {
        width: 80%;
    }
}

.menu-bg {
    background-color: #004BFE;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px 0px;
}

.menu-logo img {
    width: 190px;
}

.menu-logo a{
    display: flex;
    justify-items: center;
}

.menu-nav ul{
    display: flex;
    flex-wrap: wrap;
}

.menu-nav a {
    display: block;
    padding: 10px;
    font-size: 1.25rem;
}

.menu a {
    color: #FFFFFF; 
    font-weight: bold;
    padding: 10px 15px;
    text-decoration: none;
}

.menu a:visited {
    color: #FFFFFF;
}

.menu a:hover {
    color:#05205f;
}

.footer-bg {
    background-color: #2E2E2E
}

.footer-menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px 0px;
}

.footer-nav ul {
    display: flex;
    flex-wrap: wrap;
}

.footer-nav a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    font-size: 1.25rem;
    font-weight: bold;
}

.footer-nav a:hover {
    color: #5363f8
}

.footer-menu img {
    width: 200px;
}

.footer-logo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    color: white;
    padding: 15px;    
}

.main-bg {
    background-color: white;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px 0px;
}